#most {
  text-align: center;
  font-family: 'Metal Mania',  cursive;
  font-size: 40px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuTLPIWN6ZFv3jIAwMfsVL1hOvj4eRuBRf_OAGgoTonl9HBWTbBw);
}
#lime {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#line1 {
  font-family: 'Rum Raisin', sans-serif;
  font-size: 30px;
  text-align: center;
}
.line2 {
text-align: center;
}
#column2 {
  float: right;
}
.caleb {
  background-color: #605252  ;
}
